        body {
            font-family: 'Inter', sans-serif;
        }

        /* Navbar Customização */
        .navbar-brand {
            font-weight: 700;
        }

        /* Seções Gerais */
        .section-padding {
            padding: 80px 0;
        }

        /* Seção Home */
        #home {
            height: 100vh;
            color: white;
            padding-top: 56px;
            background-image: url(/imagens/img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }


        #home h1 {
            font-size: 3rem;
            font-weight: 900;
        }
        @media (min-width: 768px) {
            #home h1 {
                font-size: 4.5rem;
            }
        }
        .scroll-btn {
            border-radius: 50px;
            padding: 12px 30px;
            font-weight: bold;
        }

        /* Cards/Depoimentos */
        .testimonial-card {
            background-color: #89abdf;
            border-radius: 15px;
            padding: 25px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.05);
            transition: transform 0.3s;
            cursor: pointer;
        }
        .testimonial-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0,0,0,0.1);
        }
        .testimonial-details {
            margin-top: 15px;
            border-top: 1px solid #eee;
            padding-top: 15px;
        }

        /* Rodapé */
        footer {
            background-color: var(--dark-bg);
            color: var(--light-bg);
        }
        .social-icon {
            font-size: 1.5rem;
            color: white;
            margin: 0 10px;
            transition: color 0.3s;
        }
        .social-icon:hover {
            color: var(--primary-color);
        }

        #apresentacao {
            background-image: url(/imagens/img2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color:black;
            height: 100vh;
            padding-top: 56px;
        }

        #galeria{
            background-image: url(/imagens/img2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color:black;
            height: 100vh;
            padding-top: 56px;
        }

        #contato{
            background-image: url(/imagens/img2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: black;
        }


    